.detail{
    margin-top: 20px;
    background-color: rgb(224, 224, 224);
    padding: 20px;
    border-radius: 10px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    h1{
        font-size: 50px;
        text-align: center;
        color: #DA0037;
        font-family: 'Dancing Script';
    }

    .innerDetail{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;

        img{
            border-radius: 10px;
            width: 50%;
            margin: 8px 8px;
            height: auto;
            border: white 5px solid;
        }

        .descriptDetail{
            background-color: white;
            padding: 10px 20px 10px 20px;
            border-radius: 10px;

            h2{
                padding: 8px;
                text-align: center;
            }

            p{
                margin-bottom: 8px;
            }
        }

        .menu{
            display: flex;
            margin-top: 5px;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            flex-direction: row;

            .drink{
                background-color: white;
                margin: 3px;
                padding: 5px;
                border-radius: 10px;
                width: 40%;

                h3{
                    text-align: center;
                }

                .innerDrink{
                    border: 2px #2b2b2b solid; 
                    padding: 10px; 
                    overflow: auto; 
                    height: 100px; 
                    width: 100%; 
                    text-align: left;
                    border-radius: 5px;

                    p{
                        margin-bottom: 15px;
                        background-color: #2b2b2b;
                        padding: 5px;
                        color: white;
                        border-radius: 5px;
                    }
                }
            }

            .food{
                background-color: white;
                margin: 3px;
                padding: 5px;
                border-radius: 10px;
                width: 40%;

                h3{
                    text-align: center;
                }
                
                .innerFood{
                    border: 2px #2b2b2b solid; 
                    padding: 10px; 
                    overflow: auto; 
                    height: 100px; 
                    width: 100%; 
                    text-align: left;
                    border-radius: 5px;

                    p{
                        margin-bottom: 15px;
                        background-color: #2b2b2b;
                        padding: 5px;
                        color: white;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}

.review{
    margin-top: 20px;
    background-color: rgb(224, 224, 224);
    padding: 20px;
    border-radius: 10px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    h2{
        text-align: center;
        font-size: 30px;
        margin-bottom: 8px;
        color: #DA0037;
        font-family: 'Dancing Script';
    }

    .innerReview{
        border: 2px #2b2b2b solid; 
        padding: 10px; 
        overflow: auto; 
        width: 55%; 
        height: 300px;
        text-align: left;
        border-radius: 5px;
        background-color: #2b2b2b;

        .cardReview{
            background-color: white;
            border-radius: 10px;
            border: 1px solid black;
            max-width: 400px;
            margin: 0 auto 10px auto ;

            .innercard{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                border-bottom: 1px solid black;
                align-items: center;
                background-color: rgb(138, 137, 137);
                border-radius: 10px 10px 0 0;

                .account{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    img{
                        width: 30px;
                        height: 30px;
                        margin-right: 5px;
                        padding: 3px;
                    }

                    p{
                        font-size: 15px;
                        font-weight: bold;
                    }
                }
    
                .tglReview{

                    p{
                        font-size: 15px;
                    }
                }
            }
    
            .reviewConsumen{
                text-align: center;
                padding: 20px;
            }
        }
    }
}

.containerRev{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;

    .inputReview{
        background-color: white;
        border-radius: 5px;
        width: 35%;
        margin-bottom: auto;
        padding: 15px;
        border: 2px#2b2b2b solid;

        h3{
            text-align: center;
        }

        #myReviewName{
            width: 100%;
            height: 30px;
            background-color: #2b2b2b;
            color: white;
            border-radius: 5px;
            min-height: 44px;
        }

        #myReview{
            width: 100%;
            height: 100px;
            background-color: #2b2b2b;
            color: white;
            border-radius: 5px;
        }

        button{
            background-color: #DA0037;
            color: white;
            padding: 10px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            min-height: 44px;

            &:hover{
                background-color: #2b2b2b;
            }

            &:active{
                transform: translateY(4px);
            }
        }
    }
}

@media screen and (max-width: 600px){
    .detail{
        .innerDetail{
            img{
                width: 100%;
            }
        }
    }

    .containerRev{
        .inputReview{
            width: 90%;
            margin-bottom: 10px;
        }
        .innerReview{
            width: 90%;
        }
    }
}

@media screen and (max-width: 450px){
    .detail{
        .innerDetail{
            .menu{
                .food{
                    width: 100%;
                }
                .drink{
                    width: 100%;
                }
            }
        }
    }
}
